nav {
    .current {
        color: $greenbrand_color;
      
    }

    .nav_logo {
        width: 7rem;
        height: 4rem;
        margin-right: 100px;
        margin-left: 40px;
    }

    .navbar-toggler {
        margin-top: 15px;
        margin-left: 15px;    
        }
    
    .navbar-left{
            a{
            padding-left: 0;
            }
    }

    ul {
        li {
            list-style: none;

            a {
                @include link;
                display: block;
                text-decoration: none;
              
                

                &:hover {
                    color: $greenbrand_color;
                    text-decoration: none;
                }
            }
        }
    }

}

.menu_icon{
    font-size: $icon_size_small;
}
