/*Font*/



@mixin link {
            color: $link_font;
            padding: 0 20px;
            text-decoration: none;
            line-height: 50px;
            text-transform: uppercase;

}

@mixin transition {
     -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

@mixin cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

