/*brand colors*/
$redbrand_color: #cc0033;
$yellowbrand_color: #ffcc00;
$greenbrand_color: #19d300;

/*Fonts*/
$sans-serif_font: "Raleway", sans-serif;
$serif-font: "Vidaloka", serif;

/*Font sizes*/
$font_xl: 4rem;
$font_large: 3rem;
$font_medium: 2rem;
$font_normal: 1rem;
$icon_size_small: 1.5rem;
$icon_size_large: 2rem;

/*Font Colors*/
$dark-color: black;
$light-color: white;
/*link colors*/

$link_font: black;
$link_font_hoover:#19d300;

$footer-color: black;


/*banners*/
$text_shadow: 2px 1px 1px black;


$header-color:#ffcc00;



$center-text: center;


$footer-color: black;

$link_font: black;
$link_font_hoover:#19d300;
